*.dll
MaxscriptManager/bin/Debug/MaxscriptManager.exe.CodeAnalysisLog.xml
*.pdb
*.cache
MaxscriptManager/obj/Debug/MaxscriptManager.g.resources
*.lref
MaxscriptManager/obj/Debug/MView.baml
*.exe
MaxscriptManager/bin/Debug/MaxscriptManager.pdb