*.dll
MaxscriptManager/bin/Debug/MaxscriptManager.exe.CodeAnalysisLog.xml
*.pdb
*.cache
MaxscriptManager/obj/Debug/MaxscriptManager.g.resources
*.lref
MaxscriptManager/obj/Debug/MView.baml
*.exe
MaxscriptManager/bin/Debug/MaxscriptManager.pdb
*.dll
*.pdb
MaxscriptManager/bin/Debug/MaxscriptManager.exe.CodeAnalysisLog.xml
*.exe
*.cache
MaxscriptManager/bin/Debug/ICSharpCode.AvalonEdit.xml
*.cache
*.Cache
*.baml
MaxscriptManager/obj/Release/MView.g.cs
MaxscriptManager/obj/Release/MView.g.i.cs
MaxscriptManager/bin/Debug/ICSharpCode.AvalonEdit.xml
*.exe
*.xml
MaxscriptManager/bin/Debug/ICSharpCode.AvalonEdit.xml
*.xml
*.pdb
*.dll
MaxscriptManager/obj/Release/App.g.i.cs
MaxscriptManager/obj/Release/App.g.cs
MaxscriptManager/obj/Debug/MView.g.i.cs
MaxscriptManager/obj/Debug/MView.g.cs
*.cache
MaxscriptManager/obj/Debug/MaxscriptManager_MarkupCompile.i.cache
*.baml
MaxscriptManager/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MaxscriptManager/obj/Release/MaxscriptManager.Properties.Resources.resources
*.resources
*.txt
MaxscriptManager/obj/Release/GeneratedInternalTypeHelper.g.i.cs
MaxscriptManager/obj/Release/Control/EditableTreeView.g.cs
MaxscriptManager/obj/Release/Control/EditableTreeView.g.i.cs
MaxscriptManager/obj/Release/GeneratedInternalTypeHelper.g.cs
MaxscriptManager/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MaxscriptManager/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MaxscriptManager/obj/Debug/MView.g.i.cs
MaxscriptManager/obj/Debug/Control/EditableTreeView.baml
MaxscriptManager/obj/Debug/Control/EditableTreeView.g.cs
MaxscriptManager/obj/Debug/Control/EditableTreeView.g.i.cs
*.cache
*.lref